<div class="container">
  <div class="row home">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-list"></span> Restaurants list
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @restaurants.each do |restaurant| %>
              <li class="list-group-item">
                <%= restaurant.name %>
                <div class="pull-right action-buttons">
                  <%= link_to "<i class='fas fa-pencil-alt'></i>".html_safe, restaurant_path(restaurant) %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= link_to "Create a new restaurant", new_restaurant_path %>
    </div>
  </div>
</div>
